.App {
  background-color: #fcfcfcfa;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Nav{
  background-color: rgb(255, 255, 255);
}

.Inicio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-dark{
  margin: 1em;
}